body {
    background: #fafbfc;
    color: #222;
    padding: 2em 0 0 0;
}

#settings-container {
    margin-top: 10px;
    padding: 5px 10px;
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#settings-container tr {
    border-top: 1px solid #ccc;
}

#settings-container td {
    padding: 1em 1em;
}

#settings-container td:first-child {
    vertical-align:top;
    font-weight:600;
    width: 15em;
}
